body {
  overflow: hidden;
}

.clickable {
  cursor: pointer;
  /* pointer-events: all; */
}

.hoverable:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.text-irisc {
  color: #e02f72;
}

body .btn,
body .shepherd-button,
body .btn-group-toggle .btn {
  background-color: transparent;
  border: 1px dashed #cccdcd;
  border-radius: unset;
  padding: 0 10px;
}

body .shepherd-button:active,
body .btn-secondary:not(:disabled):not(.disabled):active,
body .btn-secondary:not(:disabled):not(.disabled).active {
  background-color: transparent;
  border: 1px dashed #8b0c3c;
  border-radius: unset;
  color: #8b0c3c;
}


body .shepherd-button:active,
body .btn:active .btn.active {
  background-color: transparent;
}

body .shepherd-button:focus,
body .btn:focus, body .btn.focus {
  border-style: dashed;
  border-color: #8b0c3c;
  color: #8b0c3c;
  outline: 0;
  box-shadow: none;
}

body .form-group .col-form-label {
  padding-bottom: 0;
}

body .shepherd-button:not(:disabled):hover,
body .btn:hover {
  background-color: transparent;
  border: 1px dashed #8b0c3c;
  border-radius: unset;
  color: #8b0c3c;
}

div.modal .modal-dialog.modal-600 {
  max-width: 600px !important;
}

/* transitions */
.slide-fade-left-enter-active,
.slide-fade-right-enter-active {
	transition: all .3s ease;
}

.slide-fade-left-enter

/* .slide-fade-leave-active below version 2.1.8 */
	{
	transform: translateX(10px);
	opacity: 0;
}

.slide-fade-right-enter

/* .slide-fade-leave-active below version 2.1.8 */
	{
	transform: translateX(-10px);
	opacity: 0;
}