.prism-editor-wrapper .prism-editor__container {
  min-height: 100%;
  line-height: 1.2em;
}

.prism-editor-wrapper .prism-editor__editor {
  min-height: 100%;
  color: white;
  line-height: 1.2em;
  padding-bottom: 30%;
}

.prism-editor-wrapper .prism-editor__line-numbers {
	padding-bottom: 30%;
}

.prism-editor-wrapper .prism-editor__textarea:focus-visible {
  outline: none;
}


body .token.register {
  color: #07a;
}

body .token.operation {
  color: #ff5555;
}

body .token.immediate,
body .token.number {
  color: #a6a6a6;
}

body .token.line-comment {
  color: #5d9455;
}

body .token.op-label, 
body .token.label,
body .token.escape {
  color: #f9e1b3;
}

body .token.data-label {
	color: #85fbff;
}

body .token.directive {
	color: #e02f72;
}

body .token.string {
	color: #ce9178;
}

body .token.error,
body .line.error {
	text-decoration: underline wavy 1px;
}

body .prism-editor__editor .error,
body .prism-editor__editor .line.error {
	user-select: none;
	border-radius: 0.15rem;
	pointer-events: auto;
}

body .prism-editor__editor .error:hover,
body .prism-editor__editor .line.error:hover {
	background-color: rgba(240, 128, 128, 0.5);
	cursor: help;
}

body .line.executing {
	border-radius: 0.15rem;
	background-color: rgba(255, 255, 255, 0.2);
	padding-right: 0.25rem;
}

body .line.executing.interrupted {
	background-color: rgba(180, 255, 180, 0.2);
	pointer-events: auto;
	cursor: help;
	user-select: none;
}

body .line.breakpoint {
	border-radius: 0.15rem;
	background-color: rgba(181, 43, 43, 0.5);
	padding-right: 0.25rem;
}

/* .prism-editor__line-number {
	padding-left: 10px;
	position: relative;
} */

.prism-editor__line-number.highlight-line::after {
	content: "";
	height: 1.2em;
	background: rgba(255, 210, 0, 0.25);
	pointer-events: none;
	position: absolute;
	z-index: 1;
	/* max-width: 920px; */
	width: 100% !important;
}

.prism-editor-wrapper .prism-editor__line-number.highlight-line {
	/* border-left: 5px solid var(--tut-color-accent); */
	background: rgba(255, 210, 0, 0.30);
  color: #1c1c1b;
}

.prism-editor__line-numbers {
	user-select: none;
	cursor: default;
	margin-right: 20px;
	min-width: 42px;
	background: transparent !important;
	overflow: visible;
}

.prism-editor-wrapper .prism-editor__editor,
.prism-editor-wrapper .prism-editor__textarea {
	overflow: hidden;
	white-space: pre;
}

.prism-editor-wrapper .prism-editor__line-numbers {
	height: auto;
}